{% extends "all_libs/base.html" %}
{% load static %}
{% block css_addition %}
<link rel="stylesheet" href="{% static 'search/css/base.css' %}">
{% endblock css_addition %}
{% block header %}
<h1 xmlns="http://www.w3.org/1999/html">Поиск</h1>
{% endblock header %}
{% block navigation %}
    <a class="to_home" href="{% url 'main:home' %}">На главную</a>
{% endblock %}
{% block content %}
    <form class="search_form" action="{% url 'search:search_request' %}" method="get">
        <section class="search_request_field_container">
            {{ form.request_field }}
        </section>
        <input class="search_button" type="submit" value="Поиск" />
    </form>
    <section class="search_result">
        {% if chapters.exists %}
            <section class="chapters_search_result">
                <h2>Разделы</h2>
                {% for chapter in chapters %}
                    <a href={{ chapter.get_absolute_url }} class="chapter_search">{{ chapter }}</a>
                {% endfor %}
            </section>
        {% endif %}
        {% if libs.exists %}
            <section class="lib_search_result">
                <h2>Библиотеки</h2>
                {% for lib in libs %}
                    <a href={{ lib.get_absolute_url }} class="lib_search">{{ lib }}</a>
                {% endfor %}
            </section>
        {% endif %}
        {% if directories.exists %}
            <section class="directory_search_result">
                <h2>Подразделы/темы</h2>
                {% for directory in directories %}
                    <a href={{ directory.get_absolute_url }} class="directory_search">{{ directory }}</a>
                {% endfor %}
            </section>
        {% endif %}
        {% if topics.exists %}
            <section class="topic_search_result">
                <h2>Названия подзаголовков</h2>
                {% for topic in topics %}
                    <a href={{ topic.get_absolute_url }} class="topic_search">{{ topic }}</a>
                {% endfor %}
            </section>
        {% endif %}
        {% if entries.exists %}
            <section class="entry_search_result">
                <h2>Записи</h2>
                {% for entry in entries %}
                    <a href={{ entry.get_absolute_url }} class="entry_search">{{ entry }}</a>
                {% endfor %}
            </section>
        {% endif %}
        {% if commands.exists %}
            <section class="command_search_result">
                <h2>Команды</h2>
                {% for command in commands %}
                    <a href={{ command.get_absolute_url }} class="command_search">{{ command }}</a>
                {% endfor %}
            </section>
        {% endif %}
    </section>
{% endblock content%}