{% extends "all_libs/base.html" %}
{% block navigation %}
{% endblock navigation %}
{% block content %}

<form class="add_form" action="{% url 'all_libs:lib-create-update' lib_slug=object_slug ch_slug=ch_slug %}" method='post'>
    <p>Библиотека:</p>
    {% csrf_token %}
    {{ form.as_p }}
    <input class="add-but" type="submit" value="Сохранить">
    {% if object_slug == 'new_object' %}
    <a href="{% url 'all_libs:lib-list' ch_slug=ch_slug %}" class="cancel-add">Отмена</a>
    {% else %}
    <a href="{% url 'all_libs:dir-list' ch_slug=ch_slug lib_slug=object_slug %}" class="cancel-add">Отмена</a>
    {% endif %}
</form>
{% endblock content %}
